
//Colores

$emais-opp-bg-color:#fff;
$emais-bg-color:#1C252E;

$emais-primary:#ff5276;
$emais-secondary:#2DFFCD;

$emais-dark-color:#11161c;
$emais-med-color:#333B43;
$emais-light-color:#aaa;


//tamaños de páginas

$emais-pg-min-width:280px;
$emais-pg-max-width:1200px;
