.film {


    &__bg {
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;

        & .img-bg {
            width: 100%;
            height: auto;
            opacity: .1;
            margin: 0px;
            filter: blur(4px);
        }
    }

    &__container {
        margin: 50px auto 0;
        min-width: $emais-pg-min-width;
        max-width: $emais-pg-max-width;
        display: flex;
        justify-content: space-between;
        padding: 20px;


        &-left {
            padding: 0 20px 0;
            width: 400px;
            position: relative;

            &_header {
                display: none;
            }
        }

        &-right {
            padding: 0 0 0 20px;
            width: 100%;

            &_header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-icons {
                    width: 130px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    & a,
                    button {
                        opacity: .8;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;

                        &:hover {
                            opacity: 1;
                        }
                    }


                }
            }
        }

    }
}


.film-image img {
    min-width: 360px;
    width: 100%;
    height: auto;
}

button.film-fav-btn {
    background: transparent;
    border: none;
}

h1.title {
    margin-bottom: 0;
    font-weight: normal;
}

p.original_title {
    color: $emais-light-color
}

p.release {
    line-height: 1.5em;
}

.averaje-small {
    color: $emais-light-color
}

a.btn-descarga {
    margin-top: 40px;
    display: flex;
    width: 100%;
    background: rgba($emais-secondary, .8);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;
    color: $emais-bg-color;
    font-weight: 600;

    & img {
        margin-right: 20px;
    }

    &:hover {
        background: $emais-secondary;
    }
}



@media (max-width: 700px) {
    .film__container {
        padding: 0;
        margin: 0;
        flex-direction: column;
        max-width: 100%;

        &-left {
            position: relative;
            &_header {
                display: flex;
                padding: 10px 10px 5px;
                justify-content: space-between;
                align-items: center;
                position: sticky;
                left: 10px;
                right: 10px;
                top: 67px;
                background-color: rgba($emais-bg-color, .7);
            }
        }

        &-right {
            padding-left: 10px;
            &_header {display: none;}
        }
    }

    .film__container-right,
    .film__container-left {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px 0;
    }

    .film-image {
        display: flex;
        justify-content: center;
    }

    .film-image img {
        width: 100%;
        height: auto;
        min-width: unset;
    }

    a.btn-descarga {
        margin-bottom: 20px;

        & img {
            margin-right: 15px;
        }

        &:hover {
            background: $emais-secondary;
        }
    }
}