//Estilos del header gloval
.app-header {
    position: sticky;
    top: 0px;
    z-index: 999;
    box-sizing: border-box;
    background-color: rgba($emais-med-color, .94);

    &__container {

        min-width: $emais-pg-min-width;
        max-width: $emais-pg-max-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;




        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}


.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    & img {
        width: 40px;
        height: 40px;
        position: relative;
    }

    & span {
        color: $emais-opp-bg-color;
        text-decoration: none;
        font-size: 2.5em;
        font-weight: bold;
    }
}

// css del buscador del header

.header-search {
    margin: 0 0 0 10px;



    & input.search {
        background: transparent url("../../src/assets/icons/search.svg") 96%  center no-repeat;
        background-size:30px;
        border: $emais-light-color solid 1px;
        padding: 5px 0 5px 15px;
        border-radius: 40px;
        height: 40px;
        box-sizing: border-box;
        width: 100%;

        color: $emais-light-color
    }

    & input.search:focus, input.search:active {
        
        background: transparent;
        outline-style: none;
        box-shadow: none;
        border-color: #fff;
        color: #fff;
    }

    & input.enviar {
        background: transparent url("../../src/assets/icons/search.svg") center center no-repeat;
        background-size: 70%;
        border-radius: 100%;
        border: none;
        color: transparent;
        width: 40px;
        height: 40px;

        &:focus {
            outline-style: none;
            box-shadow: none;
        }
    }

    &-btn {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $emais-med-color;
        border: solid 2px $emais-light-color;
    }

    //cuando está activo el contenedor crece el input
    &.active input.header-search-input {
        width: 250px;
        padding: 10px 60px 10px 10px;
    }

    & form {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}




// boton de favoritos del header
.header-fav {

    &-btn {
        width: 47px;
        height: 47px;
        background: transparent;
        border: none;
        position: relative;
        padding: 0;
        display: block;

        & .fav-icon {
            fill: transparent;
            stroke: $emais-light-color;
            stroke-width: .5;
            width: 100%;
            height: 100%;

            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        &:hover .fav-icon {
            fill: transparent;
            stroke: $emais-secondary;
            -webkit-filter: drop-shadow(0px 0px 5px $emais-dark-color);
            filter: drop-shadow(0px 0px 5px $emais-dark-color);
        }
        & .fav-icon.off {
            fill: $emais-light-color;
        }
        &:hover .fav-icon.off {
            
            fill: $emais-secondary;
        }
    }

    &-label {
        position: absolute;
        color: $emais-secondary;
        display: flex;
        top: 0px;
        right: 0px;
        width: 47px;
        height: 44px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 12px;
    }

}


//sección de títulos de página


.header-title {
    &__left {
        background-color: rgba($emais-med-color, .34);
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);

        &__container {
            min-width: $emais-pg-min-width;
            max-width: $emais-pg-max-width;
            margin: 0 auto;

            padding: 20px 10px 15px;
        }
    }

    &__center {
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);

        &__container {
            min-width: $emais-pg-min-width;
            max-width: $emais-pg-max-width;
            margin: 0 auto;

            padding: 20px 10px 15px;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    & button {
        background-color: transparent;
        border: none;

    }

}

h1.section-title {
    margin: 40px 0 20px 20px;
    padding: 0;
    color: $emais-light-color;
    font-weight: normal;
}

.menu {

    &__container{
    display: flex;
    & button {
        border: solid 1px $emais-light-color;
        color: $emais-light-color;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 20px;
        padding: 10px 10px;
        margin: 0 10px 10px 0;
        display: flex;
        align-items: center;

        & span {
            margin-left: 10px;
        }

        &.active, &:hover{
            color: $emais-opp-bg-color;
            border-color: $emais-opp-bg-color;
        }
    }
}/*  */
}

.filter-container {
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    & .filter-icon {
        margin-right: 10px;
    }

    & button {
        background-color: transparent;
        border: none;
        padding: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;

        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        &.more {
            color: $emais-secondary;
            border-radius: 10px;
            padding: 5px;

            &:hover {
                background: rgba($emais-secondary, .15);
                border-radius: 10px;
                padding: 3px 5px 5px;
            }
        }

        &.active,
        &:hover {
            color: $emais-secondary;
            background: rgba($emais-secondary, .15);
            border-radius: 10px;
            padding: 5px;
        }
    }

    &.closed {
        height: 26px;
        padding-right: 40px;



        & button.more {
            position: absolute;
            top: 0;
            right: 0;

        }
    }
}




@media (max-width: 600px) {

    span.logo-name {
        display: none;
    }

    .app-header__container {
        padding: 10px 10px 10px 20px;


    }

    .header-title__container-left h1 {
        font-size: 1.2em;
    }

    .header-fav-label {
        font-size: 14px;
    }

    .menu__container {
        justify-content: space-between;

        & button span {
            display: none;
        }
    }
}